/* 全局样式 */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
.nav-top{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: white;
}
.nav-div{
    margin: 0 auto;
    max-width: 1400px;
}
.div-logo{
    float: left;
    padding-top: 1.5%;
}
.div-menu{
    float: right;
    height: 100px;
    line-height: 100px;
}
.ul-top-menu{
    display: flex;
}
.ul-top-menu li{
    padding: 0 30px;
    float: left;
    position: relative;
    font-size: 16px;
}
.div-img{
    display: flex;
    float: right;
    height: 100px;
}
.div-img img{
    width: 24px;
}
#div-lang{
    padding: 20px 0px;
    box-shadow: 1px 1px 9px #666;
    width: 180px;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 1500px;
    opacity: 0;     /* 初始透明 */
    visibility: hidden; /* 隐藏但不破坏布局 */
    transform: translateY(10px); /* 初始向下偏移 10px */
    transition: transform 0.3s ease;    /* 过渡动画 */
}
#div-lang.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* 回到原始位置 */
}
#div-lang a{
    display: flex;
    flex-direction: column;
    padding: 5px 9px 5px 50px;
    line-height: 30px;
    background-repeat: no-repeat !important;
    background-position: 20px center
}
.image-caption {
    position: absolute;
    width: 1200px;
    margin-left: -600px;
    text-align: left;
    left: 40%;
    top: 40%;
    padding: 10px;
    margin: 0;
    color: #fff;
    z-index: 2;
    transition: all .6s;
    transform: translateY(-50px);
    display: none;
}
.image-caption.active {
    display: block; /* 激活时显示 */
}
.image-caption div{
    width: 700px;
    text-align: left;
    color: #fff;
    z-index: 2;
    line-height: 50px;
    margin-bottom: 30px;
    background: rgba(22,20,43,0.4);
    font-size: 30px;
    padding: 25px;
}
.hide-menu{
    width: 180px;
    background: #fff;
    position: absolute;
    top: 100px;
    left: -35px;
    opacity: 0;     /* 初始透明 */
    visibility: hidden; /* 隐藏但不破坏布局 */
    transform: translateY(10px); /* 初始向下偏移 10px */
    transition: transform 0.3s ease;    /* 过渡动画 */
}
.hide-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* 回到原始位置 */
}
.hide-menu-list{
    display: flex;
    flex-direction: column;
}
.hide-menu-list li{
    width: 100%;
    padding: 0;
}
.hide-menu-list li a{
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #333;
    background: #fff;
    border-top: 1px solid #e5e5e5;
}
.hide-menu-list li a:hover {
    background: lightskyblue;
    color: #fff;
}
/* .this-page{
    background: lightblue;
} */
.a-img{
    display: block;
    width: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.a-img img{
    margin-top: 40px;
}
.div-bann{
    padding-top: 105px;
    color: #fff;
}
.div-bann img{
    width: 100%;
}
.pub-sub-nav {
    width: 100%;
    margin: 0px auto;
}
.bg1 {
    background-color: #f8f8f8!important;
}
.pub-sub-nav-contain {
    max-width: 1400px;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 0px 6px 80px 0px rgb(0 0 0 / 16%);
    line-height: 78px;
    position: relative;
    margin-top: -32px;
    height: 78px;
    background: #fff;
}
.sub-nav-list {
    float: left;
}
.sub-nav-list a {
    display: block;
    width: 162px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    float: left;
    box-shadow: -20px 0 80px 10px rgb(0 0 0 / 15%);
    font-size: 16px;
    transition: none;
}
.sub-nav-list a:hover, .sub-nav-list a.active {
    color: #fff;
    background: lightskyblue;
}
.crumbs {
    float: right;
    color: #888888;
    margin-right: 30px;
}
.crumbs a{
    line-height: 30px;
}
.crumbs img{
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.footer-container {
    padding: 60px 0;
    background: #3d3d3d;
    color: #fff;
}
.contain {
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
    color: #fff;
}
.F-nav {
    width: 12%;
    float: left;
}
.F-nav dt, .F-ct .top {
    line-height: 25px;
    font-size: 18px;
    position: relative;
}
.F-nav dd {
    margin: 15px 0 0;
}
.F-nav dd a {
    display: block;
    padding: 5px 0;
    line-height: 25px;
    color: #bcbcbc;
}
.F-ct {
    width: 360px;
    float: right;
}
.F-time{
    position: relative;
}
.F-ct .tel a {
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.F-ct .time {
    color: #bcbcbc;
    font-size: 16px;
}
.F-ct .F-lx {
    border-top: 2px solid #515456;
    border-bottom: 2px solid #515456;
    padding: 15px 0;
    margin-top: 15px;
}
.F-ct .adr {
    height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #bcbcbc;
    background: url(../../images/icon-location.png) no-repeat left center;
    background-size: 20px 20px;
    padding-left: 30px;
}
.F-ct .email {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #bcbcbc;
    background: url(../../images/icon-email.png) no-repeat left center;
    background-size: 20px 20px;
    padding-left: 30px;
}
.F-share {
    margin-top: 25px;
}
.F-ct .consult {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 2px solid #545454;
    width: 138px;
    height: 45px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
}
.F-share a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    line-height: 30px;
}
.F-coyright {
    line-height: 24px;
    text-align: left;
    font-size: 14px;
    color: #999;
    background: #3d3d3d;
}
.F-coyright .contain {
    border-top: 1px solid #3d3d3d;
    color: #999;
    padding: 30px 0;
}